<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.44/dist/style.css" />
    <link href="../../../static/css/util.css" rel="stylesheet" type="text/css">
    <link href="../../../static/css/root.css" rel="stylesheet" type="text/css">
    <link href="../../../static/css/components/icon.css" rel="stylesheet" type="text/css">
    <link href="../../../static/css/admin/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header class="admin-hd d:flex jc:flex-start h:2 bg-color:base-8 color:base-1 p:5 ai:center">
        <h1 class="order:2 fs:7">기출문제 디테일 페이지</h1>
        <div class="order:1"><a href="" class="icon icon:caret_left_bold icon-color:base-1 mr:3">뒤로가기</a></div>
        <div class="hd-right-item order:3 mr:3"><a href="" class="icon icon:admin icon-color:base-1">관리자-유저</a></div>
        <div class="order:5 p:2"><a href="" class="icon icon:admin_home icon-color:base-2 js:end">홈</a></div>
    </header>

    <main>
        <section class="p:3 as:center ">
            <div>
                <span>test</span>
            </div>
            <section>
                
                <h1 class="d:none">문제 디테일</h1>
                <div class="d:flex fl-dir:column ac:center js:center n-list n-list-item-p:0 ">
                    <div class="p:3 d:flex as:center js:center ai:center">
                        <div class="w:1">질문</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:6 ac:center min-w:5 max-w:10 w:100p"
                            >~~점심메뉴인것은?</textarea>
                    </div>

                    <!-- <div class="d:flex as:center js:center ai:center"><div class="w:1">지문</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:6 ac:center"
                            >여러가지중에서 고르시오</textarea>
                    </div>

                    <div class="d:flex as:center js:center ai:center"><div class="w:1">1번</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:6 ac:center"
                            >김밥</textarea>
                    </div>

                    <div class="d:flex as:center js:center ai:center"><div class="w:1">2번</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:6 ac:center"
                            >쌈밥</textarea>
                    </div>

                    <div class="d:flex as:center js:center ai:center"><div class="w:1">3번</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:6 ac:center"
                            >떡볶이</textarea>
                    </div>

                    <div class="d:flex as:center js:center ai:center"><div class="w:1">4번</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:6 ac:center"
                            >파스타</textarea>
                    </div>

                    <!-- 작은박스 -->
                    <div class="d:flex as:center js:center ai:center"><div class="w:1">답</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:5 ac:center ml:10"
                            >3</textarea>
                    </div>

                    <div class="d:flex as:center js:center ai:center"><div class="w:1">연도</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:5 ac:center ml:10"
                            >2004</textarea>
                    </div>

                    <div class="d:flex as:center js:center ai:center"><div class="w:1">직급</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:5 ac:center ml:10"
                            >국가직 9급</textarea>
                    </div>

                    <div class="d:flex as:center js:center ai:center"><div class="w:1">분류</div>
                        <textarea
                            type="text"
                            class="fs:1 n-textbox n-textbox-type:outline n-textbox-status:disabled bg-color:main-5 w:5 ac:center ml:10"
                            >한자 (사자성어.두글자 한자 단어)</textarea>
                    </div> -->

                </div>
            </section>
        </section>

            <section class="h:1 ac:center">
                <h1 class="d:none">조작메뉴</h1>
                <ul class="d:flex jc:center m:10">
                    <li><button class="n-btn n-btn:filled-2 n-btn-size:4 mr:10">수정</button></li>
                    <li><button class="n-btn n-btn:filled-2 n-btn-size:4">삭제</button></li>
                </ul>
            </section>
    </main>
</body>
</html>