<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/newtil-css@0.1.32/dist/style.css" /> -->
    <title>영화의봄</title>
</head>
<body>
    <section class="">
        <div style="display: none;"></div>
        <section class="m-left:3 m-top:4 m-bottom:10">
            <h1 class="d:none">영화목록</h1>
            <section class="d:flex jc:space-between m-bottom:2">
                <h1 class=" fs:4 fw:3">현재 상영작</h1>
                <ul class="d:flex fs:1 ai:center jc:space-between p-right:2">
                    <li class="p-right:3">
                        <a href="" class="">박스오피스 순위</a>
                    </li>
                    <li class="p-right:3">
                        <a href="">전날 관객 순위</a>
                    </li>
                    
                    <li class="">
                        <a href="">평점 순위</a>
                    </li>
                </ul>
            </section>
            <section class=" d:flex">
                <h1 class="d:none ">컨텐츠</h1>
                <div>
                    <div style="border: 1px solid red;
                    background-image: url("http://image.yes24.com/goods/53900323/XL");">
                        
                        <!-- <img style="object-fit: contain; border: 1px dotted greenyellow;" src="https://dummyimage.com/300" height="100%" alt="/"> -->
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:8 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block line-height:1">
                            <div>
                                <span class="fs:2 fw:3 d:inline " >13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>
                

            </section>
        </section>

        <section class="m-left:3 m-top:4 m-bottom:10">
            <h1 class="d:none">영화목록</h1>
            <section class="d:flex jc:space-between m-bottom:2">
                <h1 class=" fs:4 fw:3">개봉 예정작</h1>
                <ul class="d:flex fs:1 ai:center jc:space-between">
                    <li>
                        <a href="">박스오피스 순위</a>
                    </li>
                    <li>
                        <a href="">전날 관객 순위</a>
                    </li>
                    
                    <li>
                        <a href="">평점 순위</a>
                    </li>
                </ul>
            </section>
            <section class=" d:flex">
                <h1 class="d:none ">컨텐츠</h1>
                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>
                

            </section>
        </section>

        <section class="m-left:3 m-top:4 m-bottom:10">
            <h1 class="d:none">영화목록</h1>
            <section class="d:flex jc:space-between m-bottom:2">
                <h1 class=" fs:4 fw:3">올해의 영화</h1>
                <ul class="d:flex fs:1 ai:center jc:space-between">
                    <li>
                        <a href="">박스오피스 순위</a>
                    </li>
                    <li>
                        <a href="">전날 관객 순위</a>
                    </li>
                    
                    <li>
                        <a href="">평점 순위</a>
                    </li>
                </ul>
            </section>
            <section class=" d:flex">
                <h1 class="d:none ">컨텐츠</h1>
                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bd d:inline-block bd-radius:2 bd-color:base-1 p-right:2">
                    <div >
                        <img class="d:inline-block bd-radius:1 bd-color:base-10" src="/moviespring/src/main/resources/static/img/media_museum_7.jpg" alt="/" width="140">
                    </div>
                    <div class="d:flex ai:center d:inline-block height: 100p">
                            <span class="fs:9 fw:3 line-height:1 font-style:italic"  >1</span>
                        <div  class="m-left:4 d:inline-block">
                            <div>
                                <span class="fs:3 fw:3 d:inline">13000원 </span>
                            </div>
                            <div>
                                <span class="fs:2 fw:1 d:inline-block">서울의 봄</span>
                            </div>
                        </div>
                    </div>
                </div>
                

            </section>
        </section>



        <section>

        </section>
    </section>
</body>
</html>