:root {
    --color-main-1: #99c842;
    --color-main-2: #85b132;
    --color-main-3: #759d2a;
    

  
    --rgb-main-1: 153, 200, 66;
    --rgb-main-2: 133, 177, 50;
    --rgb-main-3: 117, 157, 42;
    --rgb-main-4: 153, 0, 255;

  }